<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>180471297147-5dih3h2jsv1g6nijujom7488c0oef2d3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.180471297147-5dih3h2jsv1g6nijujom7488c0oef2d3</string>
	<key>API_KEY</key>
	<string>AIzaSyDyHmnR4VgiNsf5XBqClLOtaNy7YS0eM-I</string>
	<key>GCM_SENDER_ID</key>
	<string>180471297147</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>codecalenderv2</string>
	<key>PROJECT_ID</key>
	<string>codecalenderv2</string>
	<key>STORAGE_BUCKET</key>
	<string>codecalenderv2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:180471297147:ios:eb993a5b533534875edede</string>
</dict>
</plist>